$font: 'Roboto', sans-serif;

.small { font-size: 0.9em !important; line-height: 2em !important; letter-spacing: 0.2px;}
.uppercase {text-transform: uppercase}
.font-light {font-weight: 300}


body{ font-family: $font }
.jumbotron{
	background:url('../../images/bg-hero.jpg');
	background-size: cover;
}
.icon-feature{
	text-align: center !important;
	font-size: 160px;
	display: block;
	margin:2rem auto;
}
.caption p {
	font-weight: 300;
	font-size: 17px;
	line-height: 28px;
	color: #4E4E4E;
}
.phones{
	width: 90%;
}
.hero-icon-wrapper{display: inline-block;}
.ios-icon{
	width: 100px;
	font-family: $font;
	position: relative;
	top:-30px;
	@media only screen and (min-width:1200px) {
		left: -30px;
		margin-right: 0px;
 	}


}
h1{
	font-weight: 300;
	color: #232F48;
}
p.slogan{
	font-size: 16px;
	font-weight: 300;
	color: #4E4E4E;
	margin-bottom: -1px;
}
p.slogan-2{
	margin-top: 0;
	font-size: 26px;
	font-weight: 100;
	color: #4E4E4E;
	font-family: $font;
	letter-spacing: 1px;
	// text-transform: uppercase;

}
p.version{
  display: inline-block;
  background:#F5F5F5;
  font-size: 3em;
  text-align: center;
  margin: 20px 10px;
  padding: 0.5em 2em;
  border-radius: 25px;
}
h2.section-title{
	font-weight: 300;
	font-size: 28px;
	color: #232F48;
	text-align: center;
	margin-top: 32px;
}
p.section-paragraph{
	max-width: 900px;
	padding: 0 20px;
	text-align: center;
	margin: 30px auto 40px auto;
	font-weight: 300;
	color: #555555;
	@media only screen and (min-width:960px) {
		line-height: 26px;
		font-size: 16px;
 	}

}

p.section-paragraph.legal-letter{
  margin-top: 6em;
  font-size: 0.86em;
  line-height: 1.72em;
  white-space: pre-wrap;
}
.info-section{
	padding-bottom: 62px;
}

footer {
	color: #FFF;
	padding-top:45px;
  background: #222E49;
  padding: 3rem 0;
  width: 100%;
  color: #FFF;
  ul{
    list-style: none;
    li{margin: 10px 0}
    img{margin-bottom: 16px;}
  }
	p{
		font-size: 13px;
		margin-top: 20px;
		font-weight: 300;
		margin-bottom: 0px;
	}
	a{
		font-size: 13px;
		display: inline-block;
		// padding: 12px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
		color: #FFF;
    font-weight: lighter;
    letter-spacing: 1px;
		&:hover{ color: #FFF;}
	}
}

@media only screen and (min-width:320px) and (max-width: 640px)  {
	.jumbotron{
		background:url('../../images/bg-hero.jpg');
		background-size: cover;
		background-position: center top;
	}
	.caption {
		padding: 0 10%;
		margin-top: 0;
	}
	.icon-feature{
		font-size: 150px;
		line-height: 110px;
	}
	h1{
		font-size: 26px;
		text-align: center;
	}
	h2.section-title{
		font-size: 19px;
		font-weight: 100;
	}
	.img-responsive{
		padding: 5px;
	}

}
@media only screen and (min-width:1200px) {
	.left-hero{
		margin-left: 50px;
	}

	}
@media only screen and (min-width:641px) and (max-width: 768px)  {
	.caption {
		padding: 0 25%;
	}
}
.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
	// background: red;
	height: 350px;
}
.height-100 {
	height: 100% !important;
	position: relative;
}
@media only screen and (min-width:992px)  {
	.left-hero{
		// background: rgba(25,255,255,0.3);
		// margin-top: 100px;
		// height: 100px;
		// display: inline-block;
		#download-android, #download-ios{
			max-width: 168px;
		}
	}
	.right-hero{

	}
	.ios-icon{
		// float: left;
		// margin: 100px;
		display: inline-block;
		width: 100px;
		height: 100px;

		img{
			display: inline-block;
			// margin-top: -50px;
		}
		// background: rgba(25,55,255,0.3);
	}
	.hero-text{
		// background: rgba(25,255,255,0.3);
		display: inline-block;
	}
	h1 {
		display: inline-block;
		font-size: 42px !important;
		// margin:0 0 0 15px !important;
		padding: 0 0 20px;
		padding: 0;
		margin:0;
		font-weight: 300;
		// text-align: left;
	}
	p.slogan{
		font-size: 24px;
		// margin:0 0 0 15px !important;
		padding: 0;
		br {display: none}
	}

}
@media only screen and (min-width:641px) and (max-width: 991px)  {
	h1{text-align: center; font-size: 48px !important;}

 	p.slogan{
 		// font-size: 24px;
		text-align: left;
 	}
 	.ios-icon{
		// padding-top: 40px;
		// width: 80px;
	}
	.jumbotron{
		// padding: 40px 0 60px 0;
	}
}
@media only screen and (min-width:320px) and (max-width: 991px)  {
	.hero-icon-wrapper{
		display: block;
		text-align: center;
		height: 90px;

	}
	p.slogan{
		text-align: center;
		br {display: none;}
	}
		.jumbotron{
		padding: 80px 0 60px 0;
	}

}

.height-100 {
	height: 100%;
}

.coming-soon-totally-centered{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: url('../../images/white-bg.jpg');
	background-position: center;
	background-size: cover;
}

.coming-soon-content {
	display: flex;
	@media only screen and (min-width:320px) and (max-width: 991px)  {
		display: inline-block;
		text-align: center;

		.icon-coming-soon {
			margin: 0 auto;
		}

		p.slogan{
			font-size: 20px;
			margin-top: 0;
		}

		p.slogan-2{
			margin-top: 0;
			font-size: 20px;
			font-weight: 100;
			color: #4E4E4E;
			font-family: $font;
			letter-spacing: 1px;
			text-transform: none;
			margin-top: 5px;

		}
	}
}

.icon-coming-soon {
	max-width: 75px;
	margin: 0 10px;
	img {
		width: 100%;
	}
}
